#clear, #equal {
    grid-column: span 2;
}

body {
    background: linear-gradient(to bottom, #ffffff, #ffcccc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #ff69b4; 
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 75%; 
}

#screen {
    width: 100%; 
    height: 70px; 
    font-size: 30px; 
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px; 
    outline: none;
    box-sizing: border-box; 
    text-align: right; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    background-color: #ffcccb;
    border: 2px solid #ffb6b4;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ffb6b4;
    transform: scale(1.1);
}

p {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}